/*The font family of the text in the web page should be Arial. x
The width of the whole container is 900px (excluding the padding). x
The two shades of blue to be used are: #84befe (darker) and #cbe5ff (lighter)
Each navigation tab changes color and background color when mouse hovers over it.
The Like link in a rectangular box is fixed with top:200px and right:-5px. x
The rest of the sizes are up to your judgement to make it look like the screenshots below.*/

body {
    font-family: Arial, sans-serif;
    text-decoration:none;
    }

.whole {
    background-color: #cbe5ff;
    width: 980px;
    margin:auto;
    padding:40px;
    padding-top:5px;
    }
    
.header {
    width:900px;
    height:350px;
    
    margin:auto;
    margin-bottom:10px;
    
    padding-top:20px;
    }    

.box {
    width:200px;
    height:200px;
    background-color:white;
    
    float:left;
    position:relative;
    top:30px;
    
    z-index:1;
    }
    
.preview {
    width: 740px;
    height: 350px;
    background-color:#84befe;
    
    margin-left:159px;
    
    position:relative;
    z-index:0;
    }

.container {
    width:900px;
    height:750px;
    margin-bottom:15px;
    margin:auto;
    
    position:relative;
    }
    
a {
    font-family:Arial, sans-serif;
    text-decoration:none;
    }

.nav {
    text-align:center;
    margin:auto;
    
    width:900px;
    background-color:black;
    
}
    
.nav a {
    background-color:#84befe;
    color:white;
    
    float:left;
    display:inline;
    width:178px;
    padding-top:8px;
    padding-bottom:8px;

    border:1px white solid;
    }
    
.nav a:hover, .nav a:active {
    background-color:white;
    color:#84befe;
    }

.rect {
    position: fixed;
    top:200px;
    right: -5px;
    
    padding-top:10px;
    
    width:35px;
    height:85px;
    
    border-style:dashed;
    border-color: #84befe;  
    text-align:center;
    }
    
.rect a {
    color:#84befe;
    }
    

.mid {
    width:900px;
    height:500px;
    background-color: white;
    
    margin:auto;
    margin-bottom:10px;
    }
    
.last {
    background-color: white;
    width:900px;
    height: 200px;
    margin-bottom: 10px;
    margin-top:10px;
    margin:auto;
    }
    
.left {
    width:439px;
    height:185px;
    
    border-style:dashed;
    border-color: #84befe;
    border-width:1px;
    
    margin:4px;
    float:left;
    }
    
.left-head {
    background-color:#84befe;
    width:429px;
    height:50px;
    
    margin:5px;
    }
    
.right {
    width:439px;
    height:185px;
    
    border-style:dashed;
    border-color: #84befe;
    border-width:1px;
    
    margin:4px;
    float:right;
    }
    
.right-head {
    background-color:#84befe;
    width:429px;
    height:50px;
    
    margin:5px;
    }
.footer {
    color: #84befe;
    text-align: right;
    
    position: relative;
    right:40px;
    }