body {
    background-color: #00bcd4;
    font-family:"Roboto", sans-serif;
}

.brand-logo {
    margin-left:15px;
}

.slider {
    margin-top: 30px;
}

.read more {
    text-align: right;
}

.page-footer row {
    margin-left:15px;
}

#dropdown1 a {
    text-color:amber;
}