body {
    font-family:"Roboto", sans-serif;
}

img {
    margin-top:25px;
}

.card-panel {
    text-align: justify;
    
}

.brand-logo {
    margin-left:15px;
}

.slider {
    margin-top: 30px;
}

.read more {
    text-align: right;
}

.page-footer row {
    margin-left:15px;
}